<div id="<%= quizId %>">
<input type="text" class="answers" />
<select class="types">
		<option value="Cloud">Cloud</option>
		<option value="Entrepreneur">Entrepreneur</option>
		<option value="Software">Software</option>
</select>
<input type="button" class="removeField" value="X" />
</div>